@import "~antd/dist/antd.css";
/* @import "~antd/dist/antd.dark.css"; */
/* @import "~antd/dist/antd.compact.css"; */
@import "~react-quill/dist/quill.snow.css";

.root {
  flex-grow: 1;
}

.App {
  text-align: center;
  position: "fixed";
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.google-login {
  background-color: #fffbff;
  font-size: 16px;
  font-weight: bold;
}
.google-login svg {
  width: 1em;
  height: 1em;
  margin-right: 1em;
}
